<header class="main-header">
    <a href="/" class="logo">
        <img src="/img/6.png" alt="EasyStay Logo" />
    </a>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/hotels/city-lights">Hoteles</a></li>
            <li><a href="/restaurantes">Restaurantes</a></li>
            <li><a href="#">Actividades</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <% if (locals.user) { %>
            <div class="user-menu">
                <button class="user-menu-button">
                    <i class="fas fa-user-circle"></i>
                    <span><%= user.nombre.split(' ')[0] %></span>
                    <i class="fas fa-chevron-down"></i>
                </button>
                <div class="user-menu-content">
                    <div class="user-info-dropdown">
                        <p class="user-name">Hola, <%= user.nombre %></p>
                        <p class="user-email"><%= user.email %></p>
                    </div>
                    <hr class="dropdown-divider">
                    <a href="/perfil" class="dropdown-item">
                        <i class="fas fa-user-circle"></i> Mi perfil
                    </a>
                    <a href="/bookings" class="dropdown-item">
                        <i class="fas fa-calendar-alt"></i> Mis reservas
                    </a>
                    <a href="/mis-puntos" class="dropdown-item">
                        <i class="fas fa-star"></i> Mis Puntos
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-heart"></i> Favoritos
                    </a>
                    <hr class="dropdown-divider">
                    <a href="/logout" class="dropdown-item logout-link">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </a>
                </div>
            </div>
        <% } else { %>
            <a href="/login" class="btn btn-login">Iniciar sesión</a>
            <a href="/register" class="btn btn-register">Registrarse</a>
        <% } %>
    </div>
</header> 