<header class="sub-admin-header">
    <div class="sub-header-content">
        <div class="sub-header-left">
            <h1 class="sub-header-title">EasyStay Admin</h1>
            <a href="/admin/dashboard" class="sub-header-back-btn">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>
    </div>
</header> 